* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-black; // Usamos la variable
  color: $text-white; // Usamos la variable
  line-height: 1.6;
  font-family: $font-main;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}